* {
    margin: 0;
}

body {
    width: 100%;
    background-color: rgb(5, 89, 114);
    overflow-x: hidden;
    font-family: 'Inter', sans-serif;
}

h1 {
    font-size: 3rem;
    font-weight: 700;
}

h2 {
    font-size: 2rem;
    font-weight: 600;
}

p {
    font-size: 1rem;
    line-height: 1.6;
}

.nav-links {
    display: flex;
    list-style: none;
    padding: 5px;
    align-items: center;
    gap: 10px;
    height: 70px;
    font-weight: bold;
    justify-content: space-between;
    margin-right: 2px;
}

a {
    text-decoration: none;
    color: white;
}

.nav-links a:hover {
    background-color: rgb(146, 89, 4);
    display: inline-block;
    padding: 10px 15px;
    transition: transform 0.3s ease;
    will-change: transform;
    transform-origin: center;
}

.nav-links a:hover {
    transform: scale(1.08);
    /* small scale only */
}

#tab-space {
    tab-size: 4;
}

.pass-web {
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: center;
}

.code-flag {
    text-decoration: underline;
}

.logo {
    background-color: rgb(234, 250, 215);
    text-decoration: dotted;
    font-size: larger;
}

.hero-image {
    width: 100%;
    height: 700px;
    overflow: hidden;
}


.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: fit-content;
    background-color: rgb(23, 93, 133);
}

.hero-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.hero-text,
.hero-image {
    flex: 1 1 400px;
    padding: 2px;
    color: white;
}

.info,
.quote {
    color: white;
    font-weight: bold;
    padding: 10px;
}

.hero-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.info-cards {
    display: flex;
    gap: 24px;
    justify-content: center;
}

.card {
    max-width: 150px;
    text-align: center;
}

.cta-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f97316;
    padding: 32px;
    border-radius: 8px;
    color: white;
}

.footer {
    padding: 20px;
    color: white;
    font-style: italic;
    font-weight: bold;
}

.author {
    font-weight: bold;
}