body {
    width: 100%;
    margin: 10px;
}

.nav-links {
    display: flex;
    gap: 16px;
    list-style: none;
    padding: 2px;
}

a {
    text-decoration: none;
    color: #0077cc;
}

.logo {
    background-color: rgb(234, 250, 215);
    text-decoration: dotted;
    font-size: larger;
}

/* .hero {
    width: 100%;
    margin: 0;
} */


.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: fit-content;
}

.hero-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}


.hero-text,
.hero-image {
    flex: 1 1 400px;
    padding: 2px;
}

.hero-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.info-cards {
    display: flex;
    gap: 24px;
    justify-content: center;
}

.card {
    max-width: 150px;
    text-align: center;
}

.cta-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #b4bbc7;
    padding: 32px;
    border-radius: 8px;
    color: white;
}

.footer {
    padding: 20px;
}